/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

.ui-growl{
    z-index:1330!important;
}
.ui-growl {
    top: 30px!important;
}
.sidebar{
    width:215px!important;
}