/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

.ui-growl{
    z-index:1330!important;
}
.ui-growl {
    top: 30px!important;
}
.sidebar{
    width:215px!important;
}

.form-group{
    margin-bottom: 8px;
}
.form-group label{
    margin-bottom: 3px;
}

.form-control {
    padding: 4px 6px;
    font-size: 16px;
    line-height: 1.2;
}

select.form-control:not([size]):not([multiple]) {
    height: 30px;
}

.btn-center{
    text-align: center;
}