.help-block {
    color: red;
}

.network-panel select.form-control {
    width: 35%;
    display: inline-block;
}

.network-panel select{
    min-width: 100px;
}

.network-name {
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
    padding-left: 0;
    color: #ff6a00;
    padding-top: 5px;
    padding-bottom: 2px;
}
.nx{
    color:rgb(0, 71, 224);
}
.col-sm-8 label{
    font-size: 13px!important
}
.percnt{
    color: #f50066!important;
    font-weight: bold;
    font-size: 15px!important;
}
.ntlevel {
    font-weight: bold;
    color: blue;
    padding: 10px;
    padding-left: 0;
}

.vall {
    font-weight: bold;
    color: blue;
    padding-left: 2px;
}
#copayid,#empid{
    font-size: 14px !important;
    color: #313131;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 0px;
    line-height: 1.2;
}
#copayidchk{
    font-size: 17px!important;
        width: 18px;
    height: 18px;
    margin-top: 20px;
    margin-left:5px;
}
.network-panel {
    background: #e8e8e8;
    padding: 6px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.network-panel span {
    color: #260cff;
    font-size: 16px;
}
.nw{
    color:rgb(255, 174, 0);
}
.bc{
    color:rgb(255, 0, 255);
}

.rats {
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    padding-left: 0;
}

.network-name span {
    color: #313131!important;
    font-weight: normal;
    position: relative;
    left: -10px;
    font-style: italic;
}
.plan-name{
    color: #00abff;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 28%;
    margin-bottom: 7px;
}

.rate-grp div.spn {
    font-size: 15px !important;
    color: #da0000;
    padding-bottom: 5px;
}


div.one {
    float: left;
    width: 36%;
}

div.two {
    float: left;
    width: 62%;
    padding-top: 5px;
}
div.clear-fix{
    clear:both;
}


.two {
    line-height: 1.2;
}

span.key {
    color: #2c2b2b!important;
    font-weight: 500;
    font-size: 13px!important;
}

span.val {
    color: #0768d5!important;
    font-weight: bold;
    font-size: 12px!important;
}

.inner-network {
    font-size: 16px;
    color: #1200ff;
    margin-top: 11px;
    line-height: 0.7;
}

.inner-network label {
    font-size: 14px!important;
    color: #da0000;
}

.network .key {
    font-weight: 400!important;
}
.network .val {
    font-weight: 400!important;
    color:blue;
    font-weight:bold!important;
    font-size: 14px!important;
}

.rat-plan{
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}

.mandatory{
    color: #a00606;
    position: relative;
    bottom: 4px;
    opacity: 0.8;
    font-size: 14px;
    padding-left: 2px;
}

.btn-search-plans{
    float:right;
    margin-right: 30%;
}

.text-muted{
    padding-bottom: 10px;
}
.selected.plan-name{
    color: #e600ff;
}
label.tier{
    font-size: 13px;
}

.limitation {
    background: #f9f9f3;
    padding: 3px;
    padding-left: 5px;
}
.second select{
    background: #f1ffec;
    font-weight: bold;
}
.second{
    font-size: 13px;
}

.parent>div{
    float:left;
    margin-left: 2%;
}
.parent .first{
    width:19%;
}
.parent .second{
    width:37%;
}
.parent .third{
    width:37%;
}

.btn-center{
    text-align: center;
    padding-top: 7px;
}